/build/**
/output/**
/coverage/**
/docs/**
/jsdoc/**
/node_modules/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js
.gitignore
README.md
package-lock.json
package.json
.eslintrc.json